


  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom fixed-top bg-white">

    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: large;">
      <a class="me-3 py-2 text-decoration-none" [routerLink]="['/']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="me-3 py-2 text-decoration-none" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="me-3 py-2 text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <a class="btn btn-outline-secondary me-2">Login</a>
      <a class="btn btn-outline-secondary me-3">Sign Up</a>
    </div>

  </div>



